<component name="ArtifactManager">
  <artifact type="war" name="Spring-Boot-Base:war">
    <output-path>$PROJECT_DIR$/Spring-Boot-Base/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>Spring-Boot-Base</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="Spring-Boot-Base.war">
      <element id="artifact" artifact-name="Spring-Boot-Base:war exploded" />
    </root>
  </artifact>
</component>